{% extends "email/_base.html" %}
{% load i18n %}

{% block title %}{% translate "Password reset for Ellington" %}{% endblock %}

{% block body %}
<p>{% blocktranslate %}You're receiving this email because you (or someone using your email address) requested a password reset for your Ellington account.{% endblocktranslate %}</p>

<p>{% translate "Click the link below to choose a new password:" %}</p>

<p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{% translate "Reset my password" %}</a></p>

<p>{% translate "Your username, in case you've forgotten:" %} <strong>{{ user.get_username }}</strong></p>

<p>{% translate "If you didn't request this, you can safely ignore this email." %}</p>
{% endblock %}
